---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="archive-post">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h1 class="post-title">{{ post.title }}<!-- <span class="post-comment-count"><span class="disqus-comment-count" data-disqus-identifier="{{post.permalink}}"></span><i class="fa fa-comment"></i></span>--></h1>
      <p class="post-tldr">{{ post.tldr }}</p>
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">Published {{ post.date | date: '%B %d, %Y' }}</time>
    </a>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
<!--
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'jeffshaver'; // required: replace example with your forum shortname
  // var disqus_developer = 1; // Comment out when the site is live

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>-->