// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;
}

.archive-post {
  margin: 0;
}

.archive-post {
  border-top: 1px solid lighten(#444343, 50%);
  &:last-child {
    border-bottom: 1px solid lighten(#444343, 50%);
  }
}

.archive-post a {
  display: block;
  padding: 2em 1em;
  &:hover {
    background: darken(#fff, 4%);
  }
}

.archive-post .post-title {
  font-size: 1.4rem;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.post-title a {
  &:hover,
  &:focus {
    color: #FF055F;
  }
}
.page-title,
.post-title {
  margin-top: 0;
}

.post-title .post-comment-count {
  font-size: 1rem;
  font-weight: 200;
  color: lighten(#444343, 40%);
}

.post-title .post-comment-count, .post-title .post-comment-count span {
  vertical-align: middle;
}

.archive-post .post-title .post-comment-count, .archive-post .post-title .post-comment-count span {
  vertical-align: text-bottom;
}

.archive-post .post-title .fa-comment {
  vertical-align: text-top;
}

.archive-post .post-tldr {
  color: lighten(#444343, 30%);
}

.archive-post .post-date {
  font-size: .9rem;
}

// Meta data line below post title
.post-date {
  display: inline-block;
  margin-top: -.5rem;
  color: #9a9a9a;
}

.post-read-time {
  display: inline-block;
  color: #9a9a9a;
}


// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 75%;
      color: #999;
    }

    a:hover {
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}
